@import 'styles/mixins.scss';

.section {
  @include max-width(small);
  @include flex-center;
  flex-direction: column;
  margin: 20rem auto;

  h1 {
    font-size: 7rem;
    margin-bottom: 4rem;
  }
}
