@import './variables.scss';
@import './mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include device(notebook) {
    font-size: 60%;
  }

  @include device(mobile) {
    font-size: 58%;
  }
}

body {
  font-size: 1.6rem;
  font-family: $fontFamily;
}

h1,
.h1 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.5rem;
  color: $primary;
  font-family: $titleFontFamily;
}

h2,
.h2 {
  font-size: 2.4rem;
  font-weight: 600;
}

h3,
.h3 {
  font-size: 2.1rem;
  font-weight: 500;
}

h4,
.h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

h5,
.h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

p,
.p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.5rem;

  &:not(:last-of-type) {
    margin-bottom: 1.5rem;
  }
}

.btn {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  font-weight: 500;

  &.btn-primary {
    background-color: $primary;
    color: $white;

    &:hover {
      cursor: pointer;
      background-color: lighten($primary, 5);
    }
  }
}
