@mixin max-width($size) {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  @if $size == large {
    max-width: 116rem;
  }

  @if $size == small {
    max-width: 96rem;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin device($device) {
  @if $device == desktop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }

  @if $device == notebook {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $device == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $device == mobile {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}
